 <div class='container-fluid'>
 <div class='blogHeadBg'>
 <h1 class='blogHead'>БЛОГ</h1>
 </div>
 </div>
<div>
	
		<div class='container'>
		<div class='containerBlue'>
			<div class='row'>
				<div class='col-md-6' align="justify">
		<h2 class='whiteText' align="center">ПОДАРОК НА СВАДЬБУ</h2>
				<div class='whiteText'>
				<p>Как украсить свадебное торжество так, чтобы оно надолго запомнилось на всю жизнь вам и вашим гостям?</p>

				<p>Организаторы свадеб давно уже выбирают одним из важнейших элементов декора - диспенсер для напитков или лимонадник. Этот стеклянный диспенсер украсит торжество любого уровня, привлечёт внимание гостей и избавит от хлопот во время встречи гостей, ведь каждый приглашённый сможет самостоятельно в любое время налить себе любой из праздничныъ напитков.</p>

				<p>Приглашаем к просмотру галереи фотографий от декораторских агенств Lacy Bird и UMEdecor(Москва).</p>

				<p>В качестве одной из главных деталей праздника (свадьба и помолвка) был выбран наш легендарный диспенсер для напитков Yorkshire Гулливер 7.5 литров, с помощью которого были организованы лимонадный бар и кэнди-бар.</p>
				</div>
			</div>
			<div class='col-md-6' align="center">
			<img src="images/78kkk.jpg" alt="" width="80%">
			<p class='whiteText'>Свадьба Ольги и Антона (студия Lacy Bird), фотограф Алексей Малышев.</p>
			</div>
		</div>
</div>
</div>

<div class=container align="center">
	<p align="center">Свадьба Ольги и Антона (студия Lacy Bird), фотограф Алексей Малышев.</p>

 		<div class="container" >
 			<div id="content-slider">
 			  <div id="slider">  <!-- Slider container -->
 				 <div id="mask">  <!-- Mask -->

 				 <ul>
 				 <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
  				<img src="images/carusel/car(1).jpg" alt="" height="680px" width="680px" /> 
  				</li>

 				 <li id="second" class="secondanimation">
  				<img src="images/carusel/car(2).jpg" alt="" height="680px" width="680px"/> 
  				</li>

 				 <li id="third" class="thirdanimation">
 				 <img src="images/carusel/car(3).jpg" alt="" height="680px" width="680px"/> 
 				 </li>

 				 <li id="fourth" class="fourthanimation">
 				 <img src="images/carusel/car(4).jpg" alt="" height="680px" width="680px"/> 
 				 </li>

 				 <li id="fifth" class="fifthanimation">
 				 <img src="images/carusel/car(5).jpg" alt="" height="680px" width="680px"/> 
 				 </li>
 				 <li id="six" class="sixanimation">
 				 <img src="images/carusel/car(6).jpg" alt="" height="680px" width="680px"/> 
 				 </li>
 				 </ul>

  				</div>  <!-- End Mask -->
  				<!--<div class="progress-bar"></div>   Progress Bar -->
  			  </div>  <!-- End Slider Container -->
 			</div>
 		</div>
 </div>


	<div class='container'>
	<div class='orangeBorder'>

<h2 align="center" >При выборе стеклянного диспенсера для напитков рекомендуем придерживаться следующих правил:</h2>
<div class='text' align="justify">
<p>Если бюджет немного ограничен, выбирайте между лимонадниками Гулливер Yorkshire 7.5л и Retro 5.8л, которые находятся в средней ценовой категории. Запомните, что оригинальный диспенсер не может стоит слишком дешёво, даже если это серийное производство - если лимонадник оригинальный, то на фабрике при его штамповке осуществляется строгий контроль качества. Приобретая недорогой китайский диспенсер, вы рискуете в худшем случае испортить своё свадебное торжество, в лучшем - потерять возможность использовать вашу покупку в дальнейшем после свадьбы, потому что лимонадник придёт в полную негодность ( помутнеет стекло, сломается кран).</p>

<div class='imagesInText'>
<img src="images/drink-dispensers.jpg" alt="" width='100%' />
</div>


<p>Стеклянные диспенсеры бывают двух видов - серийная штамповка и ручная работа. Наличие небольших вкраплений на стекле при серийной штамповке не является браком или дефектом. Главное, чтобы компания у которой вы покупаете лимонадник объяснила вам как им пользоваться, продемонстрировала процедуру снятия краника и была готова БЕСПЛАТНО заменить вам кран в случае поломки краника. Оригинальный диспенсер должен быть изначально упакован в оригинальную коробку компании производителя с инструкцией о том, как правильно использовать ёмкость ( должен быть указан допускаемый температурный режим наливаемых напитков, объём диспенсера).</p>

<div class='imagesInText'>
<img src='images/how-to-style-a-drink-station-for-your-wedding-657-int.jpg' alt='' width="100%">
</div>


<p>Если ваш бюджет позволяет - выбирайте между хрустальным стеклянным диспенсером для напитков Алхимик 8л ( ручная работа с использование хрустальной крошки) или керамическими лимонадниками Capri 7.8л и Vintage Candy 6.8л.диспенсер для напитков </p>

<p>Особое внимание следует уделить количеству диспенсеров и обсудить этот вопрос с декораторами. Обычно диспенсеры размещают в фото-зоне у входа, чтобы все гости могли сфотографироваться в более необычной обстановке и получить представление о том, какое пиршество их ожидает.</p>
<p>Напитки следует разливать в небольшие по объёму стаканы, баночки по 200мл, чтобы напиток смогли попробовать все желающие, и не пришлось слишком часто повторно наполнять диспенсер.
Не разрешайте детям играть в бурные игры рядом с лимонадником, чтобы они случайно не опрокинули лимонадник и не сломали кран.</p>
<p>Украсьте напитки дольками фруктов, которые натуральным способом ароматизируют и насытят даже простую минеральную воду и бонусом будет их фотогеничность.</p>


<p>Не забудьте про лёд! Много льда.</p>


<div class='imagesInText'>
<img src="images/yorkshires.jpg" alt='' width="100%"/>
</div>
<p>И самое золотое правило - сначала установите лимонадник там, где вы планируете, чтобы он стоял и украшал собою торжество, и только после этого аккуратно наполните его напитком. Переносить наполненный лимонадник очень непросто, во время движения напиток может оставить некрасивые поттёки на стенках диспенсера. Запомните и передайте эту информацию официанту или баристе ответственному за наполнение лимонадников.</p>
<p>После праздника лимонадник следует вымыть. Если это крупный лимонадник ( 7, 8 литров) - его моют тщательно с помощью шланга от душа.</p>
У всех диспенсеров особый съёмный краник, который необходимо снять, если у вас был густой напиток с мякотью (вообще лимонадники не очень любят напитки с мякотью, поэтому остановите свой выбор на домашних сиропах и настойках, чтобы слишком густая мякоть не забила краник во время праздника), и вымыть под напором тёплой воды.
Завершив банные процедуры стеклянный лимонадник следует протереть сухой мягкой тряпочкой для стекла, чтобы не осталось разводов.
 </div>
</div>
</div>

<div class='container'>
	<div class="containerOrange">
		<div class='row'>
			<div class='col-md-offset-1 col-md-4' align="justify">
			<p class='whiteText1'>праздники имеют свойство быстро заканчиваться, а стеклянные диспенсеры для напитков останутся с вами после праздника и принесут ещё много приятных моментов!</p>
			</div>
			<div class='col-md-offset-1 col-md-6'>
			<img src="images/blog6.png" alt=''  width="80%"/>
			</div>
		</div>	
	</div>
</div>	
</div>
