html {
    font-size: 16px;
}

.containerBlue {
background-color: #75b8b1;
padding:  20px;
margin: 50px;

}

@font-face {
	font-family: Adelle;
	src: url("/fonts/Adelle_Cyrillic_SemiBold.woff");
}
@font-face {	
	font-family: dinPT;
	src: url("/fonts/DIN55__WS.woff");
}

@font-face {
    font-family: Lobster;
    src: url("https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic");
}

@font-face {
    font-family: Nautilus Pompilus;
    src: url("/fonts/Nautilus.otf");
}
.blogHead {
    border-bottom: 8px solid #fff;
    border-top: 8px solid #fff;
    padding-top: 8px;
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 1em; 
    font-size: 3em;
    font-family: Adelle;
    text-transform: uppercase;
    letter-spacing: .15em;
}
.blogHeadBg {
    background-color: #258593;
    margin: 48px;
    height: 120px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.whiteText {
	color: #fff;
	font-family: dinPT;
    font-size: 1.2em;
}


.orangeBorder {
	border: 3px solid orange;
    padding: 10px;
    margin-top: 50px;

}

p {
	font-family: dinPT;
    margin: 1em;
}

.text {
    font-size: 1.2em;
    font-style: strong;
    padding: 20px;
    font-family: dinPT;

}
.imagesInText {
padding: 22px;
}

.containerOrange {
background-color: rgb(255, 202, 0);
padding:  20px;
margin-top: 20px;


}

.whiteText1 {
    color: #fff;
    font-family: dinPT;
    font-size: 1.8em;
font-family: Nautilus Pompilus;
line-height: 120%;
}
